/* Basisopmaak */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 110%;
}

p {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}



/* Achtergrondafbeelding */
.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/background-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Introductiesectie */
.intro-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  max-width: 700px;
  transition: transform 0.6s ease;
}

.intro-title {
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
}

.sub-intro-text {
  color: black;
  margin-top: 15px;
  line-height: 1.6;

  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 0.6s ease, visibility 0s linear 1s;
}

.sub-intro-text.visible {
  opacity: 1;
  visibility: visible;
  max-height: 200px;
  transition: opacity 1s ease, max-height 0.6s ease;
}

.hidden {
  opacity: 0;
}

.intro-section.shift-down {
  transform: translate(-50%, -60%);
}



/* Accentkleuren voor keywords */
.highlighted-keywords {
  font-weight: 500;
  color: #6b5eff;
}

strong {
  font-weight: 300;
}



/* Dropdown Sectie */
.dropdown-section {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 1s ease, max-height 0.6s ease, visibility 0s linear 1s;
  margin-top: 20px;
  text-align: center;
  max-width: 560px;
}

.dropdown-section p {
  margin-bottom: 20px;
  margin-top: 20px;
}

.principle-dropdown {
  margin: 20px 0;
}

.dropdown-section.visible {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
  transition: opacity 1s ease, max-height 0.6s ease;
}

.principle-dropdown {
  padding: 14px 28px;
  font-weight: 200;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Lexend Exa', sans-serif;
}

.custom-dropdown {
  position: relative;
  width: 300px;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'Lexend Exa', sans-serif;
  user-select: none;
}

.dropdown-selected {
  padding: 16px;
  font-weight: 300;
  color: black;
  text-align: center;
}

.dropdown-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dropdown-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 0.85rem;

}

.custom-dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}



/* Dropdown Principles */
.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
}

.custom-dropdown.open .dropdown-options {
  max-height: 500px;
  opacity: 1;
}

.dropdown-options li {
  padding: 14px 0;
  text-align: center;
  font-weight: 500;
  border-top: 1px solid #eee;
  cursor: pointer;
}

/* Kleuren per Principle */
.opt-purple {
  color: #8a4dff;
}

.opt-blue {
  color: #3487e2;
}

.opt-green {
  color: #18b97a;
}

.opt-red {
  color: #e74763;
}

.opt-yellow {
  color: #f5b70b;
}

/* Knop die onder dropdown verschijnt */
.explore-button {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  color: #6b5eff;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.4s ease;
  position: relative;
  z-index: 5;
}

.hidden {
  display: none;
}

.chevron-right {
  font-size: 12px;
  transition: transform 0.3s ease;
}



/* Explore Page */
.principle-overview {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.principle-title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: -80px;
}

.principle-subtitle {
  color: black;
  margin-bottom: 40px;
  line-height: 1.5rem;
}

.principle-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}

.row {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 20px;
  color: #6b5eff;
  user-select: none;
}




/* Onderwerpen */
.circle-button {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 30px 8px rgba(156, 94, 255, 0.20);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140px;
}

.circle-button .circle-label {
  position: relative;
  z-index: 1;
  font-weight: 600;
  color: #6b5eff;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 10px;
}

.circle-button:hover {
  transform: translateY(-4px);
  box-shadow:
    0 0px 20px rgba(107, 94, 255, 0.45),
    inset 12px -12px 20px rgba(107, 94, 255, 0.2);
}

/* Onderwerpen Icons */
.icon-definition {
  background-image: url('../assets/icons/definition-icon.svg');
}

.icon-why {
  background-image: url('../assets/icons/why-it-matters-icon.svg');
}

.icon-examples {
  background-image: url('../assets/icons/rl-examples-icon.svg');
}

.icon-documents {
  background-image: url('../assets/icons/documents-icon.svg');
}

.icon-faq {
  background-image: url('../assets/icons/faq-icon.svg');
}

.icon-test {
  background-image: url('../assets/icons/test-yourself-icon.svg');
}

.circle-button.small-icon {
  background-size: 124px;
}



/* Definition Page */
.definition-section {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 30px;
  flex-wrap: wrap;
}

.definition-left,
.definition-right {
  flex: 1;
}

.definition-right {
  margin-right: -130px;
  margin-top: 43px;
}

.definition-left {
  margin-left: -50px;
  padding-right: 100px;
}

.definition-title {
  font-size: 50px;
  color: #6b5eff;
  font-weight: 600;
  margin-bottom: 20px;
}

.definition-left p {
  color: black;
  margin-bottom: 16px;
}

.definition-left strong {
  font-weight: 400;
}

.definition-image {
  width: 100%;
  max-width: 400px;
  margin-top: 70px;
  margin-left: 60px;
}

.definition-checklist p {
  margin-bottom: 14px;
}

.definition-section strong {
  font-weight: 400;
}

.definition-checklist ul,
.definition-note ul {
  padding: 0;
  margin: 0;
}

.definition-checklist li {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 2rem;
  font-weight: 300;
  width: 500px;
}

.definition-checklist li i {
  margin-right: 10px;
  color: black;
}

.definition-note {
  margin-top: 100px;
}

.definition-note p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.choice-list li {
  margin-bottom: 8px;
  font-weight: 300;
  list-style: disc;
  margin-left: 57px;
}

.info-icon {
  width: 18px;
  margin-right: 8px;
  vertical-align: middle;
}

.definition-right li {
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 16px;
  margin-left: 35px;
}

li .icon {
  flex-shrink: 0;
  font-size: 16px;
  color: #000;
  margin-top: 2px;
}

li .text {
  flex: 1;
  line-height: 1.1rem;
}

.ensure-heading,
.ensure-list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 16px;
}

.ensure-heading .icon,
.ensure-list .icon {
  flex-shrink: 0;
  font-size: 16px;
  color: #6b5eff;
  margin-top: 2px;
}

.ensure-heading .text,
.ensure-list .text {
  flex: 1;
}

.ensure-heading .text {
  font-weight: 200;
}

.ensure-heading .icon {
  margin-top: 12px;
  margin-right: 5px;
  font-size: 20px;
}


/* Navigation Bar */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 40px 0;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 1;
  position: relative;
  padding-top: 50px;
}

.top-nav li {
  list-style: none;
}

.nav-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.left-topics ul,
.right-topics ul {
  display: flex;
  gap: 100px;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-top: 28px;
}

.center-principle {
  align-items: center;
  text-align: center;
  flex: 1;
  min-width: 200px;
}

.principle-name {
  font-weight: 500;
  font-size: 22px;
  color: #6b5eff;
  margin-bottom: 10px;
}

.principle-name i {
  font-size: 16px;
}



/* Progress Bar */
.progress-tracker {
  font-size: 14px;
  font-weight: 300;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 16px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #cccccc86;
  border-radius: 50%;
}

.dot.filled {
  background-color: #6b5eff;
}

.topic-links li.active {
  color: #6b5eff;
  font-weight: 500;
  border-bottom: 2px solid #6b5eff;
}



/* Examples Page */
.examples-section {
  max-width: 1000px;
  margin: 100px auto;
  padding: 40px;
  color: black;
  z-index: 1;
  position: relative;
}

.examples-title {
  font-size: 50px;
  color: #6b5eff;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: -160px;
  margin-top: -60px;
}

.example-content {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.example-illustration img {
  max-width: 325px;
  height: auto;
}

.example-text {
  flex: 1;
  font-size: 16px;
  margin-left: -80px;
}

.approach-title {
  display: inline-block;
  align-items: center;
  font-size: 16px;
  margin-bottom: 12px;
}

.check-icon {
  width: 30px;
  margin-right: 10px;
  margin-bottom: -15px;
}

.sub-note {
  font-size: 12px;
  font-weight: 300;
  margin-left: 5px;
}

.example-text ul {
  list-style: disc;
  padding-left: 20px;
  margin: 10px 0 20px;
}

.example-results-box {
  border: 1.5px solid #6b5eff;
  border-radius: 12px;
  width: 600px;
  padding: 20px 30px;
  margin-top: 40px;
  background: linear-gradient(360deg,
      rgba(8, 0, 155, 0.1) 0%,
      rgba(209, 217, 255, 0.1) 100%);
  margin: 40px auto 0 auto;
}

.results-label {
  color: #6b5eff;
  font-weight: 500;
}

.example-results-box ul {
  margin-top: 13px;
  padding-left: 20px;
  font-size: 15px;
}

.example-results-box ul li {
  line-height: 1;
}

.next-example-arrow {
  font-size: 32px;
  color: #6b5eff;
  position: absolute;
  top: 50%;
  left: 1025px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.examples-section p,
.examples-section li {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
}

.examples-section strong {
  font-weight: 400;
}

.approach-title .sub-note {
  font-size: 13px;
  font-weight: 300;
  color: #555;
  margin-left: 47px;
  display: block;
}

.example-description {
  margin-left: 47px;
}



/* Bad Example Page */
.bad-example .example-illustration img {
  max-width: 300px;
  height: auto;
}

.previous-example-arrow {
  font-size: 32px;
  color: #6b5eff;
  position: absolute;
  top: 59%;
  left: 370px;
  transform: translateY(-50%);
}

.bad-example .example-results-box {
  border: 1.5px solid #6b5eff;
  border-radius: 12px;
  width: 700px;
  padding: 20px 30px;
  margin-top: 40px;
  background: linear-gradient(360deg,
      rgba(8, 0, 155, 0.1) 0%,
      rgba(209, 217, 255, 0.1) 100%);
  margin: 40px auto 0 auto;
}

.bad-example .sub-note {
  margin-bottom: 10px;
}



/* Why It Matters Page */
.why-section {
  max-width: 1300px;
  margin: 40px auto;
  padding: 40px;
  color: black;
  position: relative;
  z-index: 1;
}

.why-title {
  font-size: 50px;
  color: #6b5eff;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: left;
}

.why-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 60px;
}

.why-content p {
  font-size: 19px;
  line-height: 1.2;
}

.why-left,
.why-right {
  flex: 1;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
}

.why-left {
  margin-right: 50px;
}

.why-left ul,
.why-right ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style: disc;
}

.why-left strong,
.why-right strong {
  font-weight: 400;
}

.why-visual {
  text-align: center;
}

.why-visual img {
  width: 1000px;
  height: auto;
}



/* Supporting Documents Page */
.documents-section {
  max-width: 1200px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  color: black;
  position: relative;
  z-index: 1;
}

.documents-title {
  font-size: 50px;
  color: #6b5eff;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: left;
  margin-left: -55px;
  margin-top: -60px;
}

.document-cards {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.doc-card {
  background: white;
  border-radius: 16px;
  padding: 60px 25px;
  width: 280px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.268);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.doc-card:hover {
  transform: translateY(-5px);
}

.doc-icon {
  width: 65px;
  height: auto;
  margin-bottom: 20px;
}

.doc-icon-consent {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.doc-card h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.doc-card p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.view-button {
  background-color: #6b5eff;
  color: white;
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
  transition: background 0.3s ease;
}

.view-button:hover {
  background-color: #554fe9;
}

.documents-text {
  max-width: 750px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.2;
}

.documents-text strong {
  font-weight: 400;
}



/* Document Pop-ups */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.4);
  z-index: 98;
  display: none;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  max-width: 910px;
  width: 90%;
  padding: 50px 40px;
  border-radius: 16px;
  z-index: 99;
  display: none;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 26px;
  font-size: 18px;
  cursor: pointer;
}

.popup-icon {
  width: 40px;
  margin-bottom: 15px;
}

.popup-container p {
  font-size: 13px;
  font-weight: 300;
}

.popup-container h2 {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 10px;
}

.popup-container h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.popup-subtitle {
  margin-bottom: 35px;
}

.popup-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.popup-btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
}

.popup-description p {
  font-size: 18px;
  line-height: 1;
}

.popup-container strong {
  font-weight: 400;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 12px;
}

.popup-header .popup-icon {
  width: 32px;
}

.popup-btn.filled {
  background-color: #6b5eff;
  color: white;
  font-size: 16px;
}

.popup-btn.outlined {
  border: 2px solid #6b5eff;
  color: #6b5eff;
  font-size: 14px;
}

.popup-tip {
  font-size: 11px;
  margin-top: 25px;
  opacity: 0.7;
}

.wide-popup {
  max-width: 1000px;
}



/* Documents Preview Page */
.document-preview {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  text-align: center;
  color: black;
  position: relative;
  z-index: 1;
}

.preview-title {
  font-size: 30px;
  font-weight: 600;
  color: #6b5eff;
  margin-bottom: 30px;
}

.iframe-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.preview-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}



/* Frequently Asked Questions Page */
.faq-wrapper {
  text-align: center;
  z-index: 1;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 80px;
}

.faq-title {
  font-size: 50px;
  color: #6b5eff;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 40px;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  justify-items: center;
  row-gap: 80px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}

.faq-item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}

.faq-item img {
  width: 130px;
}

.faq-item-2 img {
  width: 116px;
}

.faq-question-box {
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(172, 157, 255, 0.295) 100%);
  border-radius: 14px;
  border: 1.5px solid #805dff;
  padding: 30px 22px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 12px;
}

.faq-question {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.faq-answer {
  font-size: 17px;
  line-height: 1.3;
  max-width: 600px;
  margin-bottom: 0;
  font-weight: 300;
}

.faq-wrapper strong {
  font-weight: 400;
}

.highlight.blue {
  color: #6b5eff;
  font-weight: 400;
}



/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6b5eff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #574de3;
}



/* Test Yourself Page */
.quiz-wrapper {
  padding: 100px 60px 60px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.quiz-title {
  font-size: 50px;
  font-weight: 600;
  color: #6b5eff;
  margin-bottom: 50px;
  margin-left: -220px;
  margin-top: -20px;
}

.progress-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.quiz-question-block {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.question-left {
  flex: 1;
  z-index: 2;
  position: relative;
}

.question-right img {
  position: absolute;
  right: -120px;
  top: -40px;
  width: 370px;
  z-index: 1;
  pointer-events: none;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-option {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border: 2px solid #805dff;
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.274);
  cursor: pointer;
  transition: all 0.2s ease;
  line-height: 1.3;
  font-family: 'Lexend Exa';
  width: 630px;
  z-index: 5;
}

.letter {
  flex-shrink: 0;
  font-size: 18px;
  color: #6b5eff;
  font-weight: 600;
  margin-right: 12px;
}

.option-text {
  flex: 1;
}

.quiz-option:hover {
  background-color: #f2efff;
}

.quiz-option.selected {
  border-color: #6b5eff;
  background-color: #f2efff;
}

.feedback-text {
  background: rgb(248, 245, 255);
  border-left: 4px solid #6b5eff;
  padding: 12px 16px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 8px;
  line-height: 1.3;
  width: 600px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.384);
}

.continue-wrapper {
  margin-top: 25px;
  text-align: left;
}

.continue-button {
  background-color: #6b5eff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Lexend Exa', sans-serif;
}

.quiz-summary {
  font-size: 18px;
  line-height: 1.6;
  max-width: 620px;
  margin-top: 10px;
  text-align: center;
}

.quiz-summary ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  text-align: left;
}

.quiz-summary ul li {
  margin-bottom: 10px;
  padding-left: 24px;
  position: relative;
}

.quiz-question {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  flex: 1;
  z-index: 2;
  position: relative;
  width: 590px;
}

.quiz-finish {
  width: 590px;
}

/* Quiz Progress bar */
.progress-bar {
  width: 100%;
  height: 26px;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.progress-fill {
  background-color: #6b5eff;
  height: 100%;
  transition: width 0.3s ease;
}

.progress-indicator {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #6b5eff;
  border-radius: 35%;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  z-index: 2;
  transition: all 0.3s ease;
}

.progress-indicator.active {
  background-color: #6b5eff;
  color: white;
}



/* Contact Us Page */
.contact-wrapper {
  padding: 80px 60px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.contact-title {
  font-size: 50px;
  font-weight: 700;
  color: #6b5eff;
  margin-bottom: 50px;
  margin-left: -80px;
}

.contact-content {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Formulier */
.contact-form-container {
  flex: 1;
  margin-right: 60px;
  max-width: 400px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 14px 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  font-family: 'Lexend Exa', sans-serif;
  background: #fff;
  resize: none;
}

.contact-submit {
  background-color: #6b5eff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  padding: 12px 26px;
  font-family: 'Lexend Exa', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: fit-content;
}

.contact-submit:hover {
  background-color: #6b5eff;
}

/* Info & Tekst */
.contact-info {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.contact-info h2 {
  font-size: 22px;
  font-weight: 300;
  color: #111;
  margin-bottom: 30px;
}

.contact-info h2 strong {
  font-weight: 400;
  color: #000;
}

.contact-info p {
  color: black;
  margin-bottom: 15px;
  font-weight: 200;
  line-height: 1.5;
}

/* Contactgegevens */
.contact-details {
  margin-top: 30px;
}

.contact-details p {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: 500;
}

.contact-details i {
  color: #6b5eff;
  font-size: 18px;
}



/*Contact Us Icon*/
.contact-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  color: #6b5eff;
  font-size: 15px;
  padding: 10px 16px;
  border-radius: 12px;
  box-shadow: none;
  z-index: 999;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Lexend Exa', sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background-color: #6b5eff;
  color: white;
  transform: translateY(-2px);
}